body {
	margin: 0;
	color: rgba(0,0,0,0.87);
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
}

#header {
	background: #4285f4;
	height: 200px;
}


form {
	width: 50%;
	margin: 40px auto 40px auto;
	padding: 30px;
	border-radius: 2px;
	background: #fafafa;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

#publish {
	margin: -100px auto 40px auto;
}

.form-group {
	position: relative;
	display: grid;
	grid-template-columns: 200px 1fr;
	padding: 10px 0;
	align-items: center;
}

.form-radio {
	height: 49px;
	grid-template-columns: 200px auto auto auto 1fr;
}

.form-textarea {
	grid-template-columns: 1fr;
}





input[type="number"] {
	width: 50%;
}